<form action="<%= cats_url%>" method = "post">
  <label>Cat name:
    <input type="text" name="cats[name]" value=""/>
  </label>
  <label>Cat sex:
    <input type="radio" name="cats[sex]" value="M"/>Male <br>
    <input type="radio" name="cats[sex]" value="F"/>Female <br>
  </label>
  <label>Cat DOB:
    <input type="text" name="cats[name]" value=""/>
  </label>
  <label>Cat color:
    <select>
      <option value="black">BLACK</option>
      <option value="white">WHITE</option>
      <option value="orange">OrAnGe</option>
      <option value="grey">GrEy</option>
      <option value="pink">Pink</option>
    </select>
  </label>
  <label>Cat description:
    <input type="text" name="cats[name]" value=""/>
  </label>
  <input type="submit" value="BIG BUTTON!">
</form>